#home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    
  
}

.mask {
    position: absolute;
    top: 20%;
    left: 7%;
    width: 90%;
}

.img {
    position: absolute;
    width: 48%;
    height: 100%;
   top: 1%;
    left: 50%;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#resume-button-2{
    width: fit-content;
}

#resume-link-2{
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
@media screen and (max-width:750px){
    #home {
        position: relative;
        width: 100%;
        height: 67vh;
        display: flex;
        gap: 20px;
        /* background-color: green; */
    } 
}
@media screen and (max-width:475px){
    .img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: 30px;
    }

   
}