.contact-main {

    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contact-child {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 100px;
    text-align: center;
}

.info {
    width: 80%;
    height: auto;
    border: 5px solid rgb(224, 244, 6);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}